<body>

    <div class="about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>
                    <div class="shadow">
                        <div class="about-img">
                            <img src="/assets/images/immaginedelprofilo.png"
                                alt="about image">
                        </div>
                    </div>

                    <h2>Angelo Raucci</h2>
                    <h3>Developer</h3>
                </div>

                <!--<ul class="icons">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul> -->

                <button class="button-63">
                    <a routerLink="">
                        TORNA ALL'HOMEPAGE
                    </a>
                </button>
            </div>

        </div>

        <div class="about-right">
            <h1>Ciao<span>!</span></h1>
            <h2>Qui c'è chi sono e cosa faccio</h2>
            <div class="about-btns">
                <a href="assets/files/cv.pdf" download="cv-angelo-raucci.pdf">
                    <button type="button" class="btn btn-pink" onclick="cv()">CV</button>
                </a>
                <a href="https://github.com/RaucciAngelo?tab=repositories">
                    <button type="button" class="btn btn-white" onclick="gitHub()">Git hub</button>
                </a>
            </div>

            <div class="about-para">
                <p>Ciao! Mi chiamo Angelo e sono un creativo prima che uno sviluppatore. </p>
                <p>
                    Sono molto attratto dall'innovazione e dall'idea di immergermi in nuove avventure. Penso che questa
                    mia inclinazione si noti, considerando che, dopo aver completato una scuola orientata alle materie
                    scientifiche come la Matematica e la Fisica, ho preso la decisione coraggiosa di intraprendere un
                    percorso quasi opposto, scegliendo di studiare Informatica presso l'Università degli Studi di
                    Salerno.

                </p>
                <p> Attualmente, svolgo il ruolo di Full Stack developer, e i linguaggi che utilizzo principalmente sono
                    Angular per il front-end e Java con il framework Spring per il back-end. Mi appassiona
                    particolarmente lavorare con le query SQL e i database, tanto che la mia tesi di laurea è
                    focalizzata su questo argomento, concentrandosi sul reverse engineering.</p>
                <p>Penso di essere un gran chiacchierone, probabilmente non sono l'unico a pensarlo (lo sono per
                    davvero), non ho mai capito se fosse un pregio o meno, fatto sta che se sono nel mood giusto, non ci
                    si annoia mai.

                    Direi di aver esagerato, grazie se hai letto fino a qui, saluti! 😀</p>
            </div>
            <div class="credit"> Creato con <span style="color:tomato">❤</span> </div>

        </div>
    </div>

</body>