table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  text-align: center;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

tr:hover {
  background-color: gainsboro;
}

#dove {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Brush Script MT', cursive;
}

#reindirizzo{
  border: 1cm; 
  border-color: black; 
  font-family: 'Georgia', cursive;
  font-size: x-large;
}