table {
    border-collapse: collapse;
    width: 100%;
    color: black;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  tr:hover {
    background-color: gainsboro;
  }
  