<div>
<h4 id="dove" style="text-align: center;"> Dove vuoi andare? </h4>    
</div>
<hr>

<table id="reindirizzo">
    <tbody>
        <tr>
            <td>
                <a routerLink="/angelo"> Vai a vedere un observable come funziona e come stampa</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/estetica"> Più css:</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/esercUno"> Vediamo una funzionalità:</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/esercDue"> Vediamo un'altra funzionalità:</a>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/esercitazione"> Esercitazione </a>
            </td>
        </tr>
    </tbody>
</table>

<button class="button" role="button">
    <a routerLink="/" > Vai indietro </a>
</button>