#dove {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
}

th,
td,
tr {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

tr:hover {
  background-color: gainsboro;
}

#reindirizzo {
  border: 1cm;
  font-family: 'Georgia', cursive;
  font-size: x-large;
  width: auto;
  text-align: center;
  position: relative;
  margin: auto;
}