table {
    border-collapse: collapse;
    width: 100%;
    color: black;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    text-align: center;
    background-color: #333;
  }
  
  tr:hover {
    background-color: gainsboro;
  }

  #reindirizzo{
    border: 1cm; 
    border-color: black; 
    font-family: 'Georgia', cursive;
    font-size: x-large;
  }
  