<h1 style="text-align: center;"> In questo componente possiamo ammirare qualche roba carina da guardare </h1>
<div>
    <table id="reindirizzo">
        <tbody>
            <tr>
                <td>
                    <a routerLink=""> Torna indietro cliccando qui </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><hr><br>
<table id="stile">
    <tr>
        <td style=" 
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 92%);">
        </td>
    </tr>
    <tr>
        <td>
            Quello su è un gradiente di colori, quello sotto anche ma rappresenta la bandiera italiana. Puoi scoprire come ho fatto ispezionando il codice.        
        </td>
    </tr>
    <tr>
        <td style="
        background: rgb(40,213,19);
        background: linear-gradient(90deg, rgba(40,213,19,1) 0%, rgba(255,255,255,1) 49%, rgba(255,0,0,1) 100%);">
        </td>
    </tr>
</table>