th {
  text-align: center;
  background-color: #333;
}

tr:hover {
  background-color: gainsboro;
}

#stile,
td {
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

#reindirizzo,
#reindirizzo td {
  border: 1px solid black;
  border-color: black;
  font-family: 'Georgia', cursive;
  font-size: x-large;
  text-align: center;
  border-radius: 2cm;
  margin: auto;
}

#reindirizzo:hover {
  background-color: burlywood;
}

h1 {
  text-align: center;
  margin: auto;
  background-color: azure;
}

.container {
  text-align: center;
}

img {
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: relative;
}

img:hover {
  visibility: hidden;
}